body {
    background-color: #FAFAFA;
}

.header {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*Navbar related*/
#navbar {
    position: fixed;
    left: 0;
    width: 16.5vw;
    background-color: #191924;
    height: 100%;
    box-shadow: 3px 0 10px rgba(20, 20, 20, 0.2);
    padding-left: 25px;
    padding-right: 25px;
}

#navbar h2 {
    color: #FFF;
}

#navbar .navbar {
    width: 100%;
}

.leader-link {
    color: #FFF;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
    width: 100%;
    margin-top: 2rem;
}

#navbar .leader-link:first-of-type {
    margin-top: 0;
}

.group-link {
    color: #7A7479;
    font-weight: 500;
    font-size: 1.2rem;
    padding-left: 3px;
}

.group-link:hover {
    color: #269ACA;
    text-decoration: none;
}

.active-link {
    color: #6CD4FF;
}

.active-link:hover {
    color: #6CD4FF;
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 20px;
}

.footer a {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
}

.footer a:hover {
    text-decoration: none;
}



#content {
    padding-left: 21vw;
    padding-right: 4.5vw;
}

.card {
    background-color: #F9F9F9;
}

#bootstrap-form .row {
    margin-top: 2rem;
}

#amtinserted h5 {
    font-weight: 400;
}

#amtinserted h6 {
    font-weight: 400;
}



form label {
    margin-top: 1rem;
}

form #submit {
    margin-top: 2rem;
}

